In [14]:
#Importing all modules.
import xgboost as xgb
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [15]:
#Reading the Titanic Dataset
df = pd.read_csv('/content/drive/MyDrive/Titanic-Model/dataset.csv')

In [16]:
#Creating the Classifier
model = xgb.XGBClassifier()

In [21]:
#Defining the training set
black_list = ['PassengerId','Pclass','Age','SibSp','Parch','Fare']
X = np.array(np.float32(df[black_list]))
y = np.array(np.float32(df['Survived']))
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.02)

[[  1.       3.      22.       1.       0.       7.25  ]
 [  2.       1.      38.       1.       0.      71.2833]
 [  3.       3.      26.       0.       0.       7.925 ]
 ...
 [889.       3.          nan   1.       2.      23.45  ]
 [890.       1.      26.       0.       0.      30.    ]
 [891.       3.      32.       0.       0.       7.75  ]]

In [22]:
#Training the model
model.fit(X,y)

XGBClassifier()

In [23]:
#Testing the model
print(str(model.score(X_test,y_test)))

0.8888888888888888